MONGO_URI="mongodb://dev:devAtrl4sUs3r@cluster0-shard-00-00-vuhoz.mongodb.net:27017,cluster0-shard-00-01-vuhoz.mongodb.net:27017,cluster0-shard-00-02-vuhoz.mongodb.net:27017/db_users?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"